html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../img/30.jpg");
}

#header{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

#header img{
    width: 100%;
}

#header h1{
    font-weight: bold;
    font-style: italic;
    color: white;
}

#menu
{
    margin-left: 20px;
}

#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a{
    background: url("../img/54.jpg");
    color: white;
    display: block;
    width: 200px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

#menu a:hover{
    transition-duration: 2s;
    margin-left: 5px;
    padding-left: 5px;
    font-size: large;
}

.content{
    background-color: gray;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.content h3,h2{
    color: white;
}

.content p{
    text-align: justify;
    color:white;

    background:url("../img/61.png");
    border-radius: 10px;
}

.content table
{
    color: white;
    background-color: green;
    border: 2px solid white;
    margin: 20px;
}

.content table td
{

    border: 1px solid;
}

#article
{
    color: whitesmoke;
    background:url("../img/61.png");
    margin-bottom: 10px;
}

#article .col-md-4
{
    padding: 0;
}

#article a
{
    background:url("../img/51.png");
    color: #FFF;
    text-decoration: none;
    padding: 10px;
    margin: 30px 15px;
}

.article_date
{
    margin-left: 15px;
}

.article_page_text
{
    background-color: white;
    padding-top: 1%;
}

.pifagor
{
    background-color: yellow;
    color: red;
    border: white;
    width: 40px;
    text-align: center;
}