body {
    background-color: darkgray;
}

.header h1{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.content{
    background-color: burlywood;
    margin: 10px;
    border-radius: 10px;
}

.content p{
    text-align: justify;
    padding: 10px;
}