html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../../img/30.jpg");
}


#header{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

#header img{
    width: 100%;
}

#header h1{
    font-weight: bold;
    font-style: italic;
    color: white;
    text-align: center;
    font-size: large;
}

#menu
{
    margin-left: 20px;
    border-radius: 10px ;
}

#menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a{
    background: url("../../img/54.jpg");
    color: white;
    display: block;
    width: 200px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}



#menu a:hover{
    transition-duration: 2s;
    margin-left: 5px;
    padding-left: 5px;
    font-size: large;
}

.content{
    background: url("../../img/61.png");
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.content h3,h2{
    color: white;
}

.content p{
    text-align: justify;
    color: white;
    padding: 10px;
    background-color: green;
    border-radius: 10px;
}

.pages_list
{
    color: black;
    padding: 10px;
    margin-top: 10px;
}